<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RunSimioPortalExpConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>           
        <RunSimioPortalExpConsole.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>https://servicestest1.internal.simioportal.com/</value>
            </setting>
            <setting name="PersonalAccessToken" serializeAs="String">
                <value>eyJ1IjoiZ3dpcnRoQHNpbWlvLmNvbSIsInQiOiJFSHlxNml2ZXZOOVJ0QUcwYnE0RytuLzZ6d1JYZkc1MDZFa2htaUR1ZkJUV0IwbnI0cE5DdHovaDErRTVnNjgwQjFmMzJKY25aUmw3VTh5ak9tdndzQT09In0=</value>
            </setting>
            <setting name="RetryResultsIntervalSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RetryResultsMaxAttempts" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AuthenticationType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>SDDP</value>
            </setting>
            <setting name="RunSchedulePlanScenarioName" serializeAs="String">
                <value>SchedRun</value>
            </setting>
            <setting name="RunScheduleControlValuesArray" serializeAs="String">
                <value />
            </setting>
            <setting name="RunSchedule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunScheduleRiskAnalysis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishSchduleRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishScheduleName" serializeAs="String">
                <value>SchedRunPub</value>
            </setting>
            <setting name="PublishScheduleDescription" serializeAs="String">
                <value>SchedRunPubDesc</value>
            </setting>
            <setting name="RunExperimentRunDesc" serializeAs="String">
                <value>OptquestRun</value>
            </setting>
            <setting name="RunExperimentScenariosJSON" serializeAs="String">
                <value>{ "Scenarios": [{ "Name": "Scenario1", "ReplicationsRequired": 10, "ControlValues": [{ "Name": "ToolQty", "Value": 3}]}]}</value>
            </setting>
            <setting name="AddInParametersValues" serializeAs="String">
                <value>{"ExperimentAddInId":"8a14cfc5-581c-46db-b63e-31bdaa98dcb0","AddInName":"OptQuest for Simio","AddInParameters":[{"Name":"Min Replications","Value": 6},{"Name":"Max Replications","Value": 20},{"Name":"Max Scenarios","Value": 300},{"Name":"Confidence Level","Value":"95%"},{"Name":"Relative Error","Value": 0.1},{"Name":"Objective Type","Value":"Single Objective"}],"ControlsAddInParameters":[{"ControlName":"ToolQty","ControlParameters":[{"Name":"Include in Optimization","Value":"Yes"},{"Name":"Minimum Value","Value": 1},{"Name":"Maximum Value","Value": 5},{"Name":"Increment","Value": 1}]}],"ResponsesAddInParameters":[{"ResponseName":"AverageLateness","ResponseParameters":[{"Name":"Weight","Value": 1}]}]}</value>
            </setting>
            <setting name="RunExperiment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishExperimentRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishExperimentRunName" serializeAs="String">
                <value>ExpPub</value>
            </setting>
            <setting name="PublishExperimetnRunDescription" serializeAs="String">
                <value>ExpPubDesc</value>
            </setting>
            <setting name="WaitAtEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunLengthDays" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ImportAllTables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportAllTablesAndLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTimeSelection" serializeAs="String">
                <value>Minute</value>
            </setting>
            <setting name="BearerTokenRefreshIntervalMinutes" serializeAs="String">
                <value>15</value>
            </setting>
        </RunSimioPortalExpConsole.Properties.Settings>        
    </userSettings>
</configuration>
