<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RunSimioPortalExpConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>           
        <RunSimioPortalExpConsole.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>SetPortalURLHere</value>
            </setting>
            <setting name="PersonalAccessToken" serializeAs="String">
                <value>CreateWebAPITokenAndAddItHere</value>
            </setting>
            <setting name="RetryResultsIntervalSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RetryResultsMaxAttempts" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AuthenticationType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>SchedulingLaborEfficiencies</value>
            </setting>
            <setting name="RunSchedulePlanScenarioName" serializeAs="String">
                <value>_ModelValues</value>
            </setting>
            <setting name="RunScheduleControlValuesArray" serializeAs="String">
                <value />
            </setting>
            <setting name="RunSchedule" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunScheduleRiskAnalysis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishSchduleRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishScheduleName" serializeAs="String">
                <value>SchedRunPub</value>
            </setting>
            <setting name="PublishScheduleDescription" serializeAs="String">
                <value>SchedRunPubDesc</value>
            </setting>
            <setting name="RunExperimentRunDesc" serializeAs="String">
                <value>OptquestRun</value>
            </setting>
            <setting name="RunExperimentScenariosJSON" serializeAs="String">
                <value>{ "Scenarios": [{ "Name": "Scenario1", "ReplicationsRequired": 10, "ControlValues": [{ "Name": "ToolQty", "Value": 1}]},{ "Name": "Scenario2", "ReplicationsRequired": 10, "ControlValues": [{ "Name": "ToolQty", "Value": 2}]},{ "Name": "Scenario3", "ReplicationsRequired": 10, "ControlValues": [{ "Name": "ToolQty", "Value": 3}]},{ "Name": "Scenario4", "ReplicationsRequired": 10, "ControlValues": [{ "Name": "ToolQty", "Value": 4}]},{ "Name": "Scenario5", "ReplicationsRequired": 10, "ControlValues": [{ "Name": "ToolQty", "Value": 5}]}]}</value>
            </setting>
            <setting name="RunExperiment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublishExperimentRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishExperimentRunName" serializeAs="String">
                <value>ExpPub</value>
            </setting>
            <setting name="PublishExperimetnRunDescription" serializeAs="String">
                <value>ExpPubDesc</value>
            </setting>
            <setting name="WaitAtEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunLengthDays" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ImportAllTables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportAllTablesAndLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTimeSelection" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="BearerTokenRefreshIntervalMinutes" serializeAs="String">
                <value>15</value>
            </setting>
        </RunSimioPortalExpConsole.Properties.Settings>        
    </userSettings>
</configuration>
